<div class="card">
    <img [src]="banner" alt="Imagem do Card"  class="card-img">
    <div class="card-content">
        <p class="card-title">
            {{titulo}}
        </p> 
        <div class="card-author">
            <img [src]="userfoto" alt="" class="author">
            <p>
                <strong>{{username}}</strong>
            </p>
        </div>
        <div class="card-footer">
            <button class="red-more" [style]="'background-color:'+corBtn+';'">Ler mais</button>
        </div>
    </div>
</div>